.user-list {
    display: flex;
    flex-flow: column nowrap;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.user-list > .user-list__header {
    display: flex;
    text-align: center;
    background-color: rgba(210, 169, 50, .6);
    height: 24px;
    font-weight: bold;
    line-height: 24px;
}
.user-list__header > *:not(:last-child) {
    border-right: 1px solid #fff;
}
.user-list__header > .user-list__header-ix {
    width: 10%;
}
.user-list__header > .user-list__header-username {
    width: 30%;
}
.user-list__header > .user-list__header-role {
    width: 30%;
}
.user-list__header > .user-list__header-action {
    width: 30%;
}
.user-list__body {
    display: flex;
    flex-flow: column nowrap;
}

.user-item {
    display: flex;
    text-align: center;
    background-color: rgba(224, 214, 127, .4);
    height: 40px;
    line-height: 40px;
    transition: background-color 1.5s;
}
.user-item:not(:last-child) {
    margin-bottom: 2px;
}
.user-item > .user-item__ix {
    width: 10%;
}
.user-item > .user-item__username {
    width: 30%;
}
.user-item > .user-item__role {
    width: 30%;
}
.user-item > .user-item__action {
    width: 30%;
    text-align: left;
    padding-left: 2%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.user-item__action > *:not(:last-child) {
    margin-right: 4px;
}
.user-item__action > .user-item__action-button {
    line-height: normal;
    font-size: 12px;
}
.user-item__action > .user-item__indicator {
    background-image: url("/images/indicator.gif");
    background-repeat: no-repeat;
    background-position: center center;
    width: 16px;
    height: 22px;
    display: none;
}
.user-item.isHandled .user-item__action > .user-item__indicator {
    display: inline;
}
.user-item.success {
    background-color: rgba(139, 195, 75, .6);
}
.user-item.fail {
    background-color: rgba(224, 76, 73, .6);
}