
.msg-list {}

.msg-list__item:not(:last-child) {
    margin-bottom: 10px;
}

.msg-item {
    display: flex;
    flex-flow: column nowrap;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}
.msg-item > .msg-item__title {
    background-color: rgba(210, 169, 50, .6);
    display: flex;
    padding: 0;
    height: 24px;
    font-weight: bold;
}
.msg-item.isHandled > .msg-item__title {
    background-image: url("/images/indicator.gif");
    background-repeat: no-repeat;
    background-position: 4px center;
}
.msg-item > .msg-item__body {
    background-color: rgba(224, 214, 127, .4);
    display: flex;
}
.msg-item__title > .msg-item__username {
    width: 80%;
    line-height: 24px;
    text-align: center;
}
.msg-item__title > .msg-item__time {
    background-color: rgba(45, 135, 191, .6);
    width: 20%;
    line-height: 24px;
    text-align: center;
    color: #fff;
}

.msg-item__body > .msg-item__body-content {
    width: 80%;
    padding: 10px;
}
.msg-item.marked .msg-item__body-content {
    font-weight: bold;
}
.msg-item__body > .msg-item__body-action {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
}
.msg-item__body-action > .msg-item__action {
    background-color: rgba(224, 76, 73, .6);
    color: #fff;
    transition: all;
    height: 20px;
    line-height: 20px;
    text-align: center;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 4px;
    text-decoration: none;
}
.msg-item__body-action > .msg-item__action:hover {
    background-color: rgba(45, 135, 191, .6);
}
.msg-item.isHandled .msg-item__action {
    display: none;
}
.msg-item.isCorrect > .msg-item__title {
    background-color: rgba(139, 195, 75, .7);
}
.msg-item.isCorrect > .msg-item__body {
    background-color: rgba(139, 195, 75, .4);
}