.wrapper {
    width: 620px;
    display: block;
    margin: 0 auto;
    height: 800px;
}
.chat {
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    border: 6px solid #1976a8;
    height: 80%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.chat.loading > .chat__title {
    background-image: url("/images/indicator.gif");
    background-repeat: no-repeat;
    background-position: right top;
}
.chat > .chat__title {
    background-color: #1976a8;
    box-sizing: border-box;
    padding: 2px 0 4px 0;
    color: #fff;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
}
.chat > .chat__content {
    background-color: #fff;
    overflow-y: scroll;
    box-sizing: border-box;
    margin: 4px;
    height: calc(100% - 15% - 26px);
}
#chat__content::-webkit-scrollbar {
    width: 8px;
    background-color: #c7c7c9;
    margin-left: 4px;
}
#chat__content::-webkit-scrollbar-thumb {
    background-color: #a6a6a8;
}
.chat > .chat__footer {
    height: 15%;
    background-color: #b2b2b4;
    display: flex;
    box-sizing: border-box;
    padding: 10px 4px;
    overflow: hidden;
}
.chat__footer > .chat__msg-input {
    width: 80%;
    outline: none;
    border: 1px solid #1976a8;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.chat__footer > .chat__msg-send {
    width: 20%;
    display: inline-block;
    background-color: #E04F5F;
    background-image: url("/images/send.png");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center center;
}

.chat__footer > .chat__msg-send:hover {
    background-color: green;
}
.chat__footer > .chat__msg-send:active {
    background-color: yellow;
}

.chat__content > .chat__msg-box {
    display: flex;
    box-sizing: border-box;
    min-height: 100%;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: stretch;
    padding-right: 60px;
}

.chat-msg {
    font-size: 12px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius:  0 0 12px 0;
}
.chat-msg:not(:last-child) {
    margin-bottom: 10px;
}
.chat-msg__title {
    padding: 3px 0;
    text-align: center;
    font-weight: bold;
    transition: background-color 1.5s;
    position: relative;
}
.chat-msg__content {
    padding: 8px 8px 4px 8px;
    transition: background-color 1.5s;
}
.chat-msg__footer {
    /*display: flex;*/
    /*flex-flow: row nowrap;*/
    justify-content: flex-end;
    box-sizing: border-box;
    transition: background-color 1.5s;
    align-items: center;
    position: relative;
    height: 18px;
}
.chat-msg__footer > .chat-msg__time {
    font-size: 11px;
    border-radius: 12px 0 0 0;
    box-sizing: border-box;
    padding: 2px 6px 1px;
    background-color: #e6debf;
    color: rgba(0,0,0, .5);
    font-weight: bold;
    position: absolute;
    z-index: 2;
    right: 0;
}
.chat-msg__footer > .chat-msg__action {
    font-size: 11px;
    color: #fff;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 12px 12px 0 0;
    background-color: rgba(224, 76, 73, .4);
    transition: all;
    position: absolute;
    right: 80px;
    z-index: 1;
    padding: 2px 24px 2px 8px;
}
.chat-msg__footer > .chat-msg__action:hover {
    background-color: rgba(45, 135, 191, .4);
}
.chat-msg.success > .chat-msg__title {
    background-color: rgba(210, 169, 50, .6);
}
.chat-msg.success > .chat-msg__content {
    background-color: rgba(224, 214, 127, .4);
}
.chat-msg.success > .chat-msg__footer {
    background-color: rgba(224, 214, 127, .4);
}
.chat-msg.isHandled > .chat-msg__title {
    background-image: url("/images/indicator.gif");
    background-repeat: no-repeat;
    background-position: 99.5% center;
}

.chat-msg.fail > .chat-msg__title {
    background-color: rgba(224, 76, 73, .6);
}
.chat-msg.fail > .chat-msg__content {
    background-color: rgba(255, 165, 156, .45);
}
.chat-msg.fail > .chat-msg__footer {
    background-color: rgba(255, 165, 156, .45);
    display: none;
}

.chat-msg.waiting > .chat-msg__title {
    background-color: rgba(45, 135, 191, .6);
}
.chat-msg.waiting > .chat-msg__title {
    background-image: url("/images/indicator.gif");
    background-repeat: no-repeat;
    background-position: 99.5% center;
}
.chat-msg.waiting > .chat-msg__content {
    background-color: rgba(106, 218, 255, .45);
}
.chat-msg.waiting > .chat-msg__footer {
    background-color: rgba(106, 218, 255, .45);
    display: none;
}
.chat-msg.marked > .chat-msg__content {
    font-weight: bold;
}
.chat-msg.incorrect > .chat-msg__content {
    text-decoration-line: line-through;
}
.chat-msg.incorrect .chat-msg__action {
    display: none;
}